@import url('https://fonts.googleapis.com/css?family=Creepster&display=swap');

h1{font-family:'Creepster', cursive; 
    font-size: 70px;
}
    





header {
    color: red;
    text-align: center;
    font-size: 30px;
    background-color: rgb(150, 0, 170);
    padding: 5px;
}



#page1 .myMain1 {
    background-color: forestgreen;
    font-size: 20px;
    font-family: fantasy
    
    }

#page2 .myMain2 {
    background-color: tomato;
    font-size: 20px;
    font-family: monospace
    
    }


#page3 .myMain3 {
    background-color: darkcyan;
    font-size: 20px;
    font-family: sans-serif
}


#page4 .myMain4 {
    background-color: sienna;
    font-size: 20px;
    font-family: cursive
}

/*------------------------------------
Navigation
------------------------------------------*/



#main-nav {}

#main-nav ul {
    list-style-type: none;
    padding: 0;
}

#main-nav ul li {
    display: inline-block;
    margin-right: 10px;
    background-color: rgb(50, 60, 70);
    padding: 2px 8px;
}

#main-nav ul li:hover {
    background-color: #fff;

}

#main-nav ul li a {
    color: lightblue;
    text-decoration: none;
}

#main-nav ul li a:hover {
    color: red;
}

#main-nav ul li.current-item,
#main-nav ul li.current-item a {
    background-color:lightblue;
    color:red;
}

/*------------------------------------------
Color
------------------------------------------*/

.section-wrapper {
    background-color:lightblue);
}

article {
    background-color:lightblue;
}



header {
                    background-image: url(https://static.duesseldorf-tonight.de/thumbs/img/News/50/90/98/p/p_pano/halloween-in-nrw-2019-die-besten-partys-989050.jpg);
                background-size: cover;
}


.first-paragraph img {
    width: 50%;
}


.flex-container {
    display: flex;
}


@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}
